In [3]:
import pandas as pd

In [4]:
file_path = r"C:\Users\PRASHANT\Desktop\raw-task-data\TaskReport.csv"

In [5]:
df = pd.read_csv(file_path)

In [7]:
df = df[df["Task Evidence"].notna()]

In [ ]:
filtered_df = df[df['Project Title'] == "' BH_प्रोजेक्ट बेस्ड लर्निंग आधारित माइक्रो इम्प्रूवमेंट प्रोजेक्ट (2-1)'"]

In [10]:
filtered_df.loc[:, "Project Title"] = filtered_df["Project Title"].str.replace("'", "", regex=False)

In [17]:
# Further filter rows based on "Tasks" containing specific keywords and "Project completion date of the user"
filtered_tasks = filtered_df[
    (
        filtered_df["Tasks"].str.contains(r"शिक्षक कक्षा 6", na=False)
        | filtered_df["Tasks"].str.contains(r"शिक्षक कक्षा 7", na=False)
        | filtered_df["Tasks"].str.contains(r"शिक्षक कक्षा 8", na=False)
    )
    & (filtered_df["Project completion date of the user"] < "2024-11-01")
]

# Group by the specified columns and calculate the task count
grouped = (
    filtered_tasks
    .groupby([
        "Declared State",
        "Project Title",
        "District",
        "Block",
        "School Name",
        "School ID",
        "Tasks"
    ])
    .size()
    .reset_index(name="Taskcount")
)

In [20]:
grouped_df = (
    grouped.groupby(
        ["Declared State", "Project Title", "District", "Block", "School Name", "School ID"], dropna=False
    )
    .size()
    .reset_index(name="TaskCount")
)

# Reordering the columns to match the SQL output structure
result_df = grouped_df[
    ["Project Title", "Declared State", "District", "Block", "School Name", "School ID", "TaskCount"]
]

In [23]:
result_df["TaskCount"].notnull()

0       True
1       True
2       True
3       True
4       True
        ...
4118    True
4119    True
4120    True
4121    True
4122    True
Name: TaskCount, Length: 4123, dtype: bool

In [26]:
result_df

,Project Title,Declared State,District,Block,School Name,School ID,TaskCount
0,BH_प्रोजेक्ट बेस्ड लर्निंग आधारित माइक्रो इम्प्रूवमेंट प्रोजेक्ट (2-1),Bihar,Araria,ARARIA,K.P.S. CHANDARDAI,10071206302,6
1,BH_प्रोजेक्ट बेस्ड लर्निंग आधारित माइक्रो इम्प्रूवमेंट प्रोजेक्ट (2-1),Bihar,Araria,ARARIA,PS MADAN PUR,10071202402,6
2,BH_प्रोजेक्ट बेस्ड लर्निंग आधारित माइक्रो इम्प्रूवमेंट प्रोजेक्ट (2-1),Bihar,Araria,ARARIA,U.M.S PURAINI,10071204601,6
3,BH_प्रोजेक्ट बेस्ड लर्निंग आधारित माइक्रो इम्प्रूवमेंट प्रोजेक्ट (2-1),Bihar,Araria,ARARIA,UHS ARARIA BASTI,10071206601,6
4,BH_प्रोजेक्ट बेस्ड लर्निंग आधारित माइक्रो इम्प्रूवमेंट प्रोजेक्ट (2-1),Bihar,Araria,ARARIA,UMS SUKH SENA,10071201601,6
...,...,...,...,...,...,...,...
4118,BH_प्रोजेक्ट बेस्ड लर्निंग आधारित माइक्रो इम्प्रूवमेंट प्रोजेक्ट (2-1),Bihar,W Champaran,Bagaha-I,Govt. U.M.S. Sirisia,10010710801,6
4119,BH_प्रोजेक्ट बेस्ड लर्निंग आधारित माइक्रो इम्प्रूवमेंट प्रोजेक्ट (2-1),Bihar,W Champaran,Bettiah,GOVT. M.S. MANSA TOLA (URDU),10010101701,6
4120,BH_प्रोजेक्ट बेस्ड लर्निंग आधारित माइक्रो इम्प्रूवमेंट प्रोजेक्ट (2-1),Bihar,W Champaran,Bettiah,Govt. M.S. Hardia,10010101501,6
4121,BH_प्रोजेक्ट बेस्ड लर्निंग आधारित माइक्रो इम्प्रूवमेंट प्रोजेक्ट (2-1),Bihar,W Champaran,Ramnagar,Govt. U.M.S. Bishunpurwa,10011204904,6
4122,BH_प्रोजेक्ट बेस्ड लर्निंग आधारित माइक्रो इम्प्रूवमेंट प्रोजेक्ट (2-1),Null,Null,Null,Null,Null,6