In [1]:
import pandas as pd

In [10]:
data = pd.read_csv(r"C:\Users\PRASHANT\Downloads\status-report.csv")

In [11]:
data.head(1)

,UUID,User Type,User sub type,Declared State,District,Block,School Name,School ID,Declared Board,Org Name,...,Program ID,Project ID,Project Title,Project Objective,Project start date of the user,Project completion date of the user,Project Duration,Project last Synced date,Project Status,Certificate Status
0,000013cb-4eca-4e90-8739-947d27622a0d,teacher,TEACHER,Bihar,Nawada,Kashichak,U.M.S Shumbha Par,10360402501,State (Bihar),DIKSHA Custodian Org,...,PGM_Bihar_Project_Based_Learning_Program_Year2...,671fad42a94166000804c99e,' BH_प्रोजेक्ट बेस्ड लर्निंग आधारित माइक्रो इम...,' शिक्षक प्रोजेक्ट बेस्ड लर्निंग (PBL) शिक्षण ...,2024-10-28T15:26:58.533+05:30,Null,2 Weeks,Null,started,Null

In [13]:
# Filter rows where [user type] = 'teacher'
data = data[data['User sub type'] == 'TEACHER']

In [16]:
# Step 2: Group data and calculate the required columns
transformed_data = data.groupby(['District', 'Block', 'School Name', 'School ID'], as_index=False).agg(
    TeachersStarted=('Project Status', lambda x: sum(x == 'started')),
    TeachersInProgress=('Project Status', lambda x: sum(x == 'inprogress')),
    TeachersSubmitted=('Project Status', lambda x: sum(x == 'submitted'))
)

In [18]:
transformed_data.head(1)

,District,Block,School Name,School ID,TeachersStarted,TeachersInProgress,TeachersSubmitted
0,Araria,Araria,U.M.S Biri Dakbangla,10071205101,1,0,0

In [19]:
# Calculate GRAND TOTAL
transformed_data['GrandTotal'] = (
    transformed_data['TeachersStarted'] +
    transformed_data['TeachersInProgress'] +
    transformed_data['TeachersSubmitted']
)